.header {
  width: 70vw;
}

h1 {
  display: inline-block;
}

.setting-btn {
  float: right;
}

#user-name {
  font-size: larger;
  color: blueviolet;
}
#chat-box {
  width: 70vw;
  height: 50vh;
  padding: 10px;
  overflow: auto;
  border-style: dotted;
}

p {
  display: inline-block;
}

p[class="sysMSG"] {
  color: orange;
}

p[class="directMSG"] {
  color: green;
}

p[class="myMSG"] {
  color: red;
}

#form {
  width: 70vw;
  margin-top: 10px;
  padding: 10px;
  border-style: double;
}
img {
  border-radius: 50%;
}
#profilePhotoFile {
  display: none;
}
